@model IList<OTAS2.Domain.Entities.TeacherSummary>
@{
    ViewBag.Title = "Summary";
}
@section Head
{
<style type="text/css">
.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	
	border:1px solid #ffffff;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
	width:100%;
	height:100%;
	margin:0px;padding:3px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	background-color:#d3e9ff;
		

}
.CSSTableGenerator td{
	vertical-align:middle;
	
	background-color:#ffffff;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:12pt;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #0057af 5%, #007fff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0057af), color-stop(1, #007fff) );
	background:-moz-linear-gradient( center top, #0057af 5%, #007fff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0057af", endColorstr="#007fff");	background: -o-linear-gradient(top,#0057af,007fff);

	background-color:#0057af;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Georgia;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #0057af 5%, #007fff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0057af), color-stop(1, #007fff) );
	background:-moz-linear-gradient( center top, #0057af 5%, #007fff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0057af", endColorstr="#007fff");	background: -o-linear-gradient(top,#0057af,007fff);

	background-color:#0057af;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}</style>

}


<br />
<br /> 
<div style="position:relative;" >

<div style="width:10%; float:left"> &nbsp; </div>
<div style="width:100%; float:left"> 
<table class="CSSTableGenerator"   width="100%">
    <tr  >
        <th class="rightborder">
            Teacher Name
        </th>
        <th class="rightborder">
            Subject Code
        </th>
        <th>
            Subject Name
        </th>        
    </tr>    
    @{ 
 foreach (var i in Model)
{

       <tr>
        <td >
            @i.TeacherName
        </td>
        <td>
            @i.SubCode
        </td>
        <td>
            @i.SubName
        </td>
    </tr>
        
}

}
</table>
</div>
@*<div style="width:10%; float:left"> &nbsp;</div>*@
<div class="clear">&nbsp;</div>
</div>
<br />
<div class="clear">&nbsp;</div>
@*<div style="width:100%;" align="center" >*@

<div class="fltrt">
<input class="submitButton" type=button value="Continue" id="Rating" name = "Rating" onclick="window.location.href='@Url.Action("RedirectRating","Main")'" />

@*<button value="Continue" id = "Rating" name = "Rating" onclick="window.location.href='@Url.Action("Rating","Main")'" />*@
</div>
<h2 class="header fltrt" style="font-size:18pt" > Please verify the details before continuing ! </h2>